<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h2>文具店・ラムチーボの</h2>
        <h2>店舗別商品管理ページ</h2>
          <% unless logged_in? %>
            <%= link_to 'まずは登録！', signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>