<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h2>文具店・ラムチーボの</h2>
        <h2>店舗別商品管理ページ</h2>
        <a href="" class="btn btn-success btn-lg">店舗に商品を追加するため、まずは登録を！</a>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>